.main 
    display: flex
    flex-direction: column
    padding-bottom: 115px

.header
    color: #F60
    font-size: 64px
    font-weight: 600
    line-height: normal
    margin: 50px 0

.postsList
    display: flex
    flex-direction: row
    flex-wrap: wrap
    gap: 40px 74px